// public
.g-con-box{
	width: 1000px;
	margin: 0 auto;
	padding-top: 175px;
	.z-main-box{
		width: 710px;
		float: left;
	}
	.z-side-box{
		width: 270px;
		float: right;
	}
}

.g-block{
	border: 1px solid $bc;
}

.dis_ib{
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.z-side-box{
	font-size: 12px;
	.item-box{
		border: 1px solid $bc;
		margin-bottom: 20px;
		color: #555555;
	}
	.hd{
		height: 42px;
		line-height: 42px;
		padding: 0 15px;
		background-color: $bc;
		font-size: 16px;
		h6{
			font-size: 16px;
		}
	}
	.lst{
		margin: 0 10px;
		li{
			margin-top: -1px;
			padding: 20px 0;
			border-bottom:1px solid $bc; 
		}
	}
	a{
		color: $lc;;
	}
}

.lp{
	float: left;
}
.rp{
	float: right;
}

.extend{
	background: url(../../img/no-sprite/arr-g.png) no-repeat right center;
	padding-right: 15px;
}
.unextend{
	background: url(../../img/no-sprite/arr-gu.png) no-repeat right center;
	padding-right: 15px;
}

.btn{
	@extend .dis_ib;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 12px;
	@include m-bor($m-bor:15px);
}

.btn-1{
	background-color: $lc;;
	text-align: center;
}

.more-g{
	background: #ddd url(../../img/no-sprite/arr-g.png) no-repeat right center;
	@extend .dis_ib;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #FFFFFF;
	padding: 0 25px 0 10px;
	@include m-bor($m-bor: 3px);
}

.arr{
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 10px;
	border-style: solid solid dashed dashed ;
	border-color: $bc $bc transparent transparent;
}


label{
	input,span{
		@extend .dis_ib;
		vertical-align: middle;
	}
}






