@charset "utf-8";
@import "_reset";
$bc:#f3f3f3;
$fc9: #999999;
$lc: #3aaae3;
@mixin m-bor($m-bor:5px){
	-webkit-border-radius: $m-bor;
	   -moz-border-radius: $m-bor;
	     -o-border-radius: $m-bor;
			border-radius: $m-bor;
}

@import "_ico";
@import "_public";



 body{
 	font-size: 14px;
 }





// filter-box
.filter-box{
	margin-bottom: 20px;
	.hd{
		background-color: $bc;
		padding: 10px 15px;
		font-size: 0;
	}
	.t{
		font-size: 14px;
	}
	.filter-item{
		background-color: #FFFFFF;
		border: 1px solid $bc;
		@extend .dis_ib;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		color: $fc9;
		margin-right: 5px;
		font-size: 14px;
		.del{
			font-size: 16px;
			margin-left: 10px;
		}
	}
	.bd{
		table{
			width: 100%;
		}
		th,td{
			border-top: 1px solid $bc;
			vertical-align: top;
			padding: 10px 10px 0;
		}
		th{
			width: 120px;
		}
		td{
			color: $fc9;
			&.more{
				padding: 10px 5px;
				text-align: center;
				width: 100px;
			}
			span{
				@extend .dis_ib;
				padding: 0 5px;
				cursor: pointer;
				margin-bottom: 10px;
			}
		}
		.cur{
			color: $lc;;
		}
	}
}

.order-box{
	padding-right: 10px;
	background-color: $bc;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	li{
		float: left;
		background: url(../../img/no-sprite/arr-dg.png) no-repeat right center;
		padding: 0 34px 0 20px;
		cursor: pointer;
		&.cur{
			color: $lc;
			background: #FFFFFF url(../../img/no-sprite/arr-b.png) no-repeat right center;
		}
	}
}

// z-side-box
.z-side-box{
	.level{
		width: 90px;
		background: url(../../img/star-g.png) repeat-x;
		height: 18px;
		margin: 10px 0;
		.inner{
			background: url(../../img/star-b.png) repeat-x;
			height: 18px;
		}
	}
	.bs-lst{
		.pic-panel{
			@extend .dis_ib;
			vertical-align: top;
			margin-right: 10px;
			img{
				width: 80px;
				height: 80px;
				-webkit-border-radius: 50%;
				   -moz-border-radius: 50%;
				     -o-border-radius: 50%;
						border-radius: 50%;
			}
		}
		.name{
			font-size: 14px;
		}
		.info-panel{
			@extend .dis_ib;
			vertical-align: top;
			padding-top: 5px;
		}
		.skill{
			color: $fc9;
		}
	}
	.news-lst{
		font-size: 12px;
		line-height: 21px;
		.cz{
			margin-top: 10px;
			color: $fc9;
		}
	}
}







.z-item-lst{
	.con{
		background: $bc;
		padding: 20px;
		font-size: 12px;
		color: $fc9;
		h5{
			font-size: 14px;
			color: #555555;
			margin-bottom: 10px;
		}
		.txt{
			position: relative;
			line-height: 21px;
		}
		.extend,.unextend{
			position: absolute;
			bottom:0;
			right: 0;
		}
	}
	.arr{
		margin-left: 20px;
	}
	.fd{
		.lp{
			span{
				
			}
		}
	}
}















@import "_login";