@charset "utf-8";
$global-FontSet:12px/1.75;
$global-FontMainColor:#333;
$body-bg:#f0f0f0;
$mobile-switch:true!default;//是否为移动端，默认关闭
$pc-switch:false!default;//是否为移动端，默认开启
$ie6:false;//是否兼容ie6，默认关闭

$green: #00a493;
$red: #fb7c3e;
$borColor1: #e7e7e7;
$borColor2: #e5e5e5;
$borColor3: #f0f0f0;
$nav-bg: #00a493;
$nav-hover: #008c7d;
$nav-hover2: #008c7d;

@import "_reset";
@import "_base";

body{ background-color: $body-bg; font-size: 12px; line-height: 1.5em; font-family: '微软雅黑',Microsoft YaHei,arial,simsun,sans-serif}

.ico{
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../images/ico.png) no-repeat;
}

a{
	color: $green;
	&:hover{
		color: $nav-hover;
	}
}

.share{
	cursor: pointer;
	span{
		cursor: pointer;
	}
}
.share-ico-panel{
	font-size: 0;
	.share-ico{
		display: inline-block;
		*display: inline;
		zoom: 1;
		width: 35px;
		height: 35px;
		margin: 0 3px;
		background: url(../images/share.png) no-repeat;
	}
	.ico-wb{
		background-position: 0 0;
	}
	.ico-db{
		background-position: -35px 0;
	}
	.ico-qq{
		background-position: -70px 0;
	}
	.ico-in{
		background-position: -105px 0;
	}
}

.wp50{
	width: 50px!important;
	height: 50px!important;
}

.text-muted{
	color: #999;
	&:hover{
		color: #666;
		text-decoration: none;
	}
}
.offsetp5{ padding-left: 5px}
.offsetp10{ padding-left: 10px}
.blk5{ height: 5px; width: 100%; overflow: hidden;}
.blk10{ height: 10px; width: 100%; overflow: hidden;}
.blk15{ height: 15px; width: 100%; overflow: hidden;}
.blk20{ height: 20px; width: 100%; overflow: hidden;}
.blk40{ height: 40px; width: 100%; overflow: hidden;}
.l-panel{
	float: left;
}

.r-panel{
	float: right!important;
}
.mb10{
	margin-bottom: 10px;
}

.mr10{
	margin-right: 10px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{ padding-right: 10px; padding-left: 10px;}

.page-box{
	padding-top: 78px;
}
// 导航
.navbar-inverse{
	background-color: $nav-bg;
	border-bottom: none;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover{
	background-color: $nav-hover2
}
.navbar-nav{
	font-size: 18px;
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a.write{
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	background-color: $nav-hover;
	padding: 0 15px;
	margin-top: 0px;
}
.navbar-inverse .navbar-nav>li>a.write:hover{
	background-color: #056e63;
}
.navbar-inverse .navbar-toggle{
	border-color: $nav-hover;
}

.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{
	background-color: $nav-hover;
}
.navbar-collapse{
	background-color: $nav-bg;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: $nav-hover;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	padding: 0;
	margin-left: 0;
}

.navbar-inverse .addon{
	background-color: #f64040;
	color: #fff;
	height: 16px;
	line-height: 15px;
	padding: 0 5px;
	border-radius: 99px;
	position: absolute;
	top: 15px;
	right: 0px;
	font-size: 12px;
	z-index: 2;
}

.nologin{
	padding-right: 5px;
	a{
		font-size: 12px;
	}
}



.search-box{
	height: 34px;
	background-color: #f0f0f0;
	margin-top: 17px;
	.glyphicon-search{
		color: #b2b2b2;
		vertical-align: top;
		margin: 6px 5px 0 5px;
	}
	.txt{
		color: #333;
		font-size: 14px;
		width: 215px;
		height: 34px;
		line-height: 34px;
		border: none;
		background: none;
	}
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: $nav-hover2;
}

.navbar-inverse .userpic{
	width: 34px;
	height: 34px;
}
.navbar-inverse .dropdown .arr{
	position: relative;
	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 50px;
		right: 5px;
		width: 6px;
		height: 6px;
		z-index: 2;
		background: url(../images/arr.png) no-repeat;
	}
}

.navbar-inverse .o-box{
	li{
		border-left: 1px solid #029485;
		li{
			border: none;
		}
	}
}
.navbar-brand>img{
	height: 100%;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color: #fff;
}
// 导航2级分类
.hasSub{
	position: relative;
	&>a:after{
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		border-style: dashed none dashed solid;
		border-width: 4px;
		border-color: transparent transparent transparent #333;
		margin-left: 5px;
	}
	a{
		color: #333;
		padding: 5px 20px;
		display: block;
		&:hover{
			text-decoration: none;
			background-color: #f0f0f0;
		}
	}
	&:hover>.sub-menu2{
			display: block;
	}
	.sub-menu2{
		position: absolute;
		top: 0;
		left: 100%;
		color: #333;
		background-color: #fff;
		white-space: nowrap;
		display: none;
		border-left: 1px solid #ccc;
	}
}
.nav{
	.dropdown{
		.caret{
			border-top-color: #fff;
		}
	}
}

.caret{
	border-style: solid dashed none;
}

@media (min-width: 768px){
	.navbar-inverse{
		width: 100%;
		height: 68px;
	}
	.navbar-inverse .navbar-nav>li>a{
		display: block;
		height: 68px;
		line-height: 68px;
		padding: 0 13px;
	}
	.navbar-right{
		margin-right: 0;
	}
	.navbar-inverse .navbar-nav>li>a.write{
		padding: 0 25px;
		margin-top: 17px;
	}
	.navbar-inverse .o-box{
		border-right: 1px solid #029485;
		margin-right: 5px;
	}
	.navbar-inverse .userpic{
		margin-top: 17px;
	}
	.navbar-brand>img{
		height: auto;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
		color: #333;
	}
}
@media (max-width: 1200px){
	.search-box .txt{ width: 135px; font-size: 12px;}
}
@media (max-width: 768px){
	.navbar-brand > img{
		margin-left: 15px;
	}
	.navbar-inverse .dropdown .arr:after{ background: none;}
	.navbar-inverse .addon{ right: 10px;}
	.hasSub{
		&>a:after{
			border-style: solid dashed none;
			border-color: #fff transparent transparent;
		}
		.sub-menu2{
			position: static;
			top: 0;
			left: 0;
			background-color: $green;
			color: #fff;
			padding-left: 20px;
			border-left: none;
			a{
				color: #fff;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 992px){
	.navbar-inverse .navbar-nav > li > a{ padding: 0 8px;}
}

.glyphicon-pencil{ margin-right: 5px;}


// 轮播图
.carousel-indicators{
	li{
		width: 15px;
		height: 15px;
		border-radius: 0;
		background: #cccccc;
		border-color: #fff;
		vertical-align: middle;
		&.active{
			width: 35px;
			height: 15px;
			background-color: $green;
		}
	}
}
.banner{
	margin-bottom: 20px;
	.carousel-indicators{
		position: absolute;
		bottom: 20px;
		right: 40px;
		width: auto;
		left: auto;
	}
}
.banner2{
	margin: 20px 15px 20px 0;
	.carousel-indicators{
		position: static;
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}
	.carousel-inner{
		.item{
			font-size: 0;
		}
	}
	.big-pic{
		display: inline-block;
		*display: inline;
		zoom: 1;
		width: 66%;
		padding-right: 6px;
		.name{
			height: 28px;
			line-height: 28px;
			margin-top: -28px;
		}
	}
	.small-pic{
		display: inline-block;
		*display: inline;
		zoom: 1;
		width: 33%;
		padding-left: 6px;
		.name{
			height: 18px;
			line-height: 18px;
			margin-top: -18px;
		}
	}
	.pic-panel{
		font-size: 12px;
		text-align: center;
		.name{
			position: relative;
			color: #fff;
			background: rgba(0,0,0,.8);
		}
	}
}



.g-block{
	border: 1px solid $borColor1;
	border-top: 0;
	margin-bottom: 20px;
	background-color: #fff;
	.hd,h4{
		height: 42px;
		line-height: 42px;
		border-bottom: 2px solid $borColor2;
	}
	.hd{
		h4{
			margin-bottom: -2px;
			padding: 0 15px;
			float: left;
			font-size: 18px;
		}
		.r-panel{
			float: right;
			padding-right: 20px;
			font-size: 12px;
		}
	}
	.bd{
		padding-left: 15px;
	}
	.green{
		h4{
			color: $green;
			border-bottom-color: $green;
		}
		.more{
			color: $green;
		}
	}
	.red{
		h4{
			color: $red;
			border-bottom-color: $red;
		}
		.more{
			color: $red;
		}
	}
	.author-lst{
		font-size: 14px;
		padding-bottom: 15px;
		li{
			padding-top: 5px;
		}
		img{
			width: 100px;
			height: 100px;
			max-width: none;
		}
		a{
			color: #333;
		}
		.name{
			font-weight: bold;
		}
	}
	.author-side{
		padding: 0 15px;
	}
}

// 编辑推荐
.book-lst{
	padding: 20px 15px 0 0;
	.row{
		margin: 0;
	}
	.pic-txt-lst{
		margin-bottom: 20px;
	}
	.pic-panel{
		img{
			width: 130px;
			height: 195px;
			border: 1px solid $borColor3;
		}
	}
	.txt-panel{
		margin-left: 150px;
		.hd{
			height: auto;
			line-height: normal;
			border: none;
			margin-bottom: 15px;
			.t{
				font-size: 14px;
				padding-top: 5px;
				margin-bottom: 10px;
			}
		}
		.bd{
			padding: 0;
		}
	}
	.price-box{
		white-space: nowrap;
		border-left: 1px solid $borColor2;
		padding: 5px 0 5px 15px;
		margin-left: 10px;
		width: 110px;
		.price{
			color: $green;
			font-size: 14px;
			line-height: 26px;
		}
	}
	.media-body{
		padding-top: 5px;
	}
}

// 热门文章
.article-lst{
	.item{
		border-bottom: 1px solid $borColor3;
		padding: 20px 15px;
	}
	.pic-panel{
		width: 100px;
		.name{
			padding: 5px 0;
		}
	}
	.txt-panel{
		margin-left: 110px;
		.summary{
			line-height: 26px;
			font-size: 14px;
			height: 100px;
			overflow: hidden;
		}
	}
	.opreation-box{
		a{
			display: inline-block;
			*display: inline;
			zoom: 1;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		padding-top: 15px;
	}
}

// 抢先试读
.qxsd-lst{
	padding: 0 20px 0 5px;
	li{
		padding: 15px 0;
		border-bottom: 1px solid $borColor3;
	}
	h6{
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 5px;
		a{
			color: #333;
			&:hover{
				color: #000;
				text-decoration: none;
			}
		}
	}
	.fd{
		padding-top: 10px;
	}
}


// 右侧最新专题
.zt-lst{
	margin-bottom: -1px;
	li{
		border-bottom: 1px solid $borColor3;
		margin-left: 50px;
		margin-right: 10px;
		position: relative;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		.txt{
			a{
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				word-break: normal;
				word-wrap: normal;
			}
		}
		a{
			color: #333;
			&:hover{
				text-decoration: none;
				color: #000;
			}
		}
	}
	.num{
		display: block;
		width: 20px;
		height: 20px;
		line-height: 20px;
		background-color: #cccccc;
		color: #fff;
		position: absolute;
		left: -36px;
		top: 10px;
		text-align: center;
	}
	.numtop3{
		background-color: #16c28c;
	}
}

// 列表通用样式
.lst{
	margin-bottom: -1px;
	li{
		margin-left: 15px;
		border-bottom: 1px solid $borColor3;
		padding: 15px 0;
	}
}

// 左图右文
.pic-txt-lst{
	.item{
		zoom: 1;
		&:after{
			content:'.';clear:both;display:block;height:0;visibility:hidden; font-size:0;line-height:0
		}
	}
	.pic-panel{
		float: left;
		img{
			max-width: none;
		}
	}
}

// 极思达人
.jsdr{
	.pic-panel{
		margin-right: 20px;
		img{
			width: 50px;
			height: 50px;
		}
	}
	.txt-panel{
		font-size: 14px;
		margin-left: 70px;
		.txt{
			padding-top: 4px;
			span{
				padding-right: 10px;
			}
		}
	}
}

// 联系方式
.connect{
	margin-right: 15px;
	margin-bottom: 0;
	.panel-default{
		border: none;
		border-top: 1px solid $borColor3;
		border-radius: 0px;
		-webkit-box-shadow:none;
		box-shadow: none;
		h4.panel-title{
			border: none;
			height: auto;
			line-height: normal;
		}
	}
	.panel-default>.panel-heading{
		border: none;
		background: none;
		padding: 13px 0; 
	}
	.panel-default>.panel-heading+.panel-collapse>.panel-body{
		border: none;
		padding: 0 0 10px;
	}
	.panel-body{
		border: none;
		text-align: center;
	}
	.txt{
		font-size: 12px;
	}
	.qricon:before{
		content: "";
		display: inline-block;
		*display: inline;
		zoom: 1;
		vertical-align: middle;
		width: 50px;
		height: 50px;
		margin-right: 20px;
		background: url(../images/qr-ico.png) no-repeat;
	}
	.wxqr{
		a{
			color: #5ac64f;
		}
	}
	.sinaqr{
		a{
			color: #ff7777;
		}
		.qricon:before{
			background-position: -50px 0;
		}
	}
	.qqqr{
		a{
			color: #5ca3e1;
		}
		.qricon:before{
			background-position: -100px 0;
		}
	}
}

// 近期活动
.jqhd{
	margin: 10px 10px 10px 5px;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: 10px;
		left: 0;
		width: 1px;
		height: 94%;
		overflow: hidden;
		background-color: $green;
	}
	.time{
		color: #999;
		font-size: 14px;
		margin: 0 0 5px;
		position: relative;
		&:before{
			content: "";
			display: block;
			width: 13px;
			height: 13px;
			background: url(../images/dot.png) no-repeat;
			overflow: hidden;
			position: absolute;
			top: 2px;
			left: -22px;
		}
	}
	.item{
		padding: 7px 0;
		.t{
			font-size: 14px;
		}
	}
	.txt-panel{
		margin-left: 70px;
	}
	
}
.jqhd-write-btn{
	margin:-1px 0 20px 0px;
	padding-right: 15px;
	display: block;
	background-color: #fff;
}
.fs12{
	font-size: 12px!important;
}



footer{
	background-color: $green;
	width: 100%;
	text-align: center;
	.footer{
		padding: 20px 0 15px;
		font-size: 13px;
		color: #fff;
		a{
			color: #fff;
		}
		.item{
			padding-bottom: 10px;
			li{
				padding-bottom: 10px;
			}
		}
		.line-dot{
			border-color: #009384;
		}
		.copyinfo{
			color: #cae6e1;
		}
	}
}

// 图书页面
.filter-box{
	background-color: #fff;
	border: 1px solid $borColor1;
	border-top: none;
	margin-bottom: 20px;
	.hd{
		padding: 15px 20px 0;
		.t{
			.txt{
				color: #999;
			}
			.glyphicon{
				color: $green;
				margin-right: 5px;
			}
		}
	}
	.bd{
		.maintab{
			border-bottom: 1px solid $borColor2;
			font-size: 14px;
		}
		.endpane{
			border-top: 1px dashed $borColor2;
		}
	}
	.caret{
		border-top-color: $global-FontMainColor;
	}
}

.tablst{
	a{
		color: $global-FontMainColor;
		&:hover{
			text-decoration: none;
			background-color: $green;
			color: #fff;
			.caret{
				border-top-color: #fff;
			}
		}
	}
	.active>a{
		text-decoration: none;
		background-color: $green;
		color: #fff;
		.caret{
			border-top-color: #fff;
		}
	}
	li{
		float: left;
		padding: 10px 5px;
		a{
			display: block;
			padding: 6px 10px;
		}
	}
}

.panel{
	background-color: #fff;
}

.book-page{
	.book-lst{
		padding: 0 10px;
		img{
			max-width: 130px;
		}
	}
	.top-panel{
		border-bottom: 2px solid $borColor2;
		.tablst{
			font-size: 14px;
			float: left;
			li{
				padding: 0;
				a{
					padding: 15px;
				}
			}
		}
		.dropdown{
			font-size: 14px;
			float: left;
		}
		.r-tab{
			height: 48px;
			border-left: 1px solid $borColor2;
			padding: 0 10px 0 5px;
			li{
				display: inline-block;
				*display: inline;
				zoom: 1;
				font-size: 12px;
				padding: 12px 0;
				a{
					color: #333;
					text-decoration: none;
					display: block;
					padding: 3px 5px;
					&:hover{
						text-decoration: none;
					}
					.glyphicon{
						visibility: hidden;
						margin-right: 5px;
					}
				}
				&.active{
					a{
						color: $green;
					}
					.glyphicon{
						visibility: visible;
					}
				}
			}
		}
	}
	.media{
		padding-top: 20px;
		.media-heading{
			font-size: 14px;
			a{
				color: #333;
			}
		}
	}
	.catetab{
		margin: 0 15px;
		float: left;
		li{
			a{
				padding: 3px 10px;
			}
		}
	}
	.mid-panel{
		border-bottom: 1px dashed $borColor2;
		.showstyle{
			margin-right: 10px;
			li{
				display: inline-block;
				*display: inline;
				zoom: 1;
				font-size: 16px;
				padding: 10px 0;
				a{
					color: #666666;
					text-decoration: none;
					display: block;
					padding: 3px 5px;
					margin-right: 3px;
					&:hover{
						text-decoration: none;
					}
				}
			}
			.active{
				a{
					color: $green;
				}
			}
		}
	}
	.filter-box.visible-xs-block{
		.bd{
			padding: 10px 20px 0;
		}
	}
	.mobi-tablst{
		.dropdown-toggle{
			padding: 15px;
			background-color: $green;
			display: block;
			color: #fff;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.sidebar-box{
	position: relative;
	a{
		color: $global-FontMainColor;
		&:hover{
			text-decoration: none;
		}
	}
	.main-cate{
		margin-bottom: -1px;
		li{
			height: 50px;
			line-height: 50px;
			font-size: 14px;
			color: $global-FontMainColor;
			padding: 0 30px;
			cursor: pointer;
			&:hover,&.open{
				background-color: $green;
				a,.glyphicon{
					color: #fff;
				}
			}
			a{
				display: block;
				border-bottom: 1px solid $borColor3;
			}
		}
		.txt{
			float: left;
		}
		.glyphicon{
			float: right;
			line-height: 50px;
			color: $global-FontMainColor
		}
	}
	.promotionimg{
		padding: 20px;
	}
}

.pn{
	font-size: 0;
}
.book-thumbnail{
	margin-top: 20px;
	display: inline-block;
	*display: inline;
	zoom:1;
	vertical-align: top;
	float: none;
	a{
		color: #333;
		font-size: 14px;
		display: block;
	}
	.pic{
		display: table;
		height: 210px;
		width: 100%;
		text-align: center;
		a{
			display: table-cell;
			vertical-align: bottom;
		}
		.img{
			position: relative;
			display: inline-block;
			*display: inline;;
			zoom:1;
			img{
				max-width: 100%;
			}
		}
		.ico-ebook-2{
			background: url(../images/ebook.png) no-repeat;
			width: 50px;
			height: 50px;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	.name{
		padding-top: 5px;
	}
}

.ico-ebook{
	background-position: -20px 0;
}

.article{
	font-size: 14px;
	padding-top: 15px;
	border-bottom: 1px solid $borColor3;
	.article-name{
		a{
			color: #333;
			font-weight: bold;
		}
	}
	.media{
		padding-top: 10px;
		margin-top: 0;
	}
	.media-body{
		padding-top: 0;
	}
	.article-img{
		width: 120px;
	}
	.article-fd{
		padding: 10px 0;
		color: #999;
		line-height: 20px;
		.userPic{
			width: 20px;
			height: 20px;
		}
		.author{
			padding: 0 10px;
		}
		.r-panel{
			.i{
				padding-left: 10px;
			}
		}
	}
	.hot,.recom{
		font-style: normal;
		color: #fff;
		background-color: #fbb3b3;
		width: 20px;
		height: 20px;
		line-height: 20px;
		vertical-align: top;
		display: inline-block;
		*display: inline;
		zoom: 1; 
		text-align: center;
		margin-right: 5px;
		font-size: 14px;
	}
	.recom{
		background-color: #99dbd4;
	}
}

.article-2{
	border-bottom: none;
	.article-name{
		white-space: nowrap;
		height: 20px;
		line-height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: normal;
		word-wrap: normal;
	}
	.media{
		padding-top: 0;
		line-height: 20px;
		max-height: 147px;
		overflow: hidden;
	}
	.info{
		padding: 5px 0 2px;
	}
	.article-fd{
		padding-top: 5px;
	}
}

.author-side{
	text-align: center;
	img{
		width: 60px;
		height: 60px;
		max-width: none;
	}
	a{
		color: #333;
	}
	.name{
		display: block;
		white-space: nowrap;
		height: 20px;
		line-height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: normal;
		word-wrap: normal;
		margin-top: 5px;
	}
	.item{
		padding-top: 13px;
		padding-bottom: 13px;
	}
	.media{
		text-align: left;
		font-size: 14px;
		padding-bottom: 15px;
		border-bottom: 1px solid $borColor3;
		margin-top: 0;
	}
	.txt{
		padding-top: 5px;
	}
	.t{
		font-weight: bold;
		border-bottom: 1px dashed $borColor2;
		padding-bottom: 5px;
	}
}

.book-side{
	margin-right: 0;
	img{
		max-width: none;
	}
	.book-pic{
		width: 60px;
	}
	.t{
		font-size: 14px;
	}
	.media{
		border-bottom: 1px solid $borColor3;
		margin-top: 0;
		padding: 15px 10px 10px;
	}
}

// 图书3种模式
.book-box{
	.book-pic{
		img{
			border: 1px solid $borColor2;
		}
	}
	.lst-normal,.lst-side{
		.book-name{
			display: none;
		}
	}
}
.book-box{
	.lst-grid{
		font-size: 0;
		.book-name{
			display: block;
			font-size: 14px;
		}
		.media-right,.media-body{
			display: none;
		}
		.col-md-12{
			width: 25%;
			float: none;
			display: inline-block;
			*display: inline;
			zoom: 1;
			vertical-align: top;
			text-align: center;
		}
		.media-left{
			.bpic-panel{
				display: table;
				width: 100%;
			}
			.book-pic{
				display: table-cell;
				height: 190px;
				padding-bottom: 10px;
				vertical-align: bottom;
			}
			img{
				margin: 0 auto;
			}
		}
	}
}
.book-box{
	.lst-side{
		padding-right: 15px;
		padding-bottom: 20px;
		.col-md-12{
			float: none;
		}
		img{
			width: 60px;
			max-width: none;
		}
		.media-right{
			display: none;
		}
		h4{
			height: auto;
			line-height: normal;
			border: none;
		}
		.sidehide{
			display: none;
		}
	}
}

// 文章3种模式
.article-box{
	.article-name{
		font-size: 14px;
	}
	.media{
		font-size: 12px;
		line-height: 1.7;
		.media-left{
			.media-object{
				width: 180px;
				max-width: none;
			}
		}
	}
	.media-body{
		.text-muted{
			color: #666;
			&:hover{
				color: #444;
			}
		}
	}
	.lst-normal{
		.hot,.recom{
			display: none;
		}
	}
	.lst-grid,.lst-normal{
		.article-name{
			font-size: 18px;
		}
		.media{
			font-size: 14px;
		}
	}
	.lst-grid,.lst-side{
		.col-md-12{
			width: 33%;
			float: none;
			display: inline-block;
			*display: inline;
			zoom: 1;
			vertical-align: top;
			border-bottom: none;
		}
		.article-name{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			height: 20px;
			line-height: 20px;
			word-break: normal;
			word-wrap: normal;
		}
		.media{
			padding-top: 5px;
		}
		.media-left{
			display: none;
		}
		.article-fd{
			font-size: 12px;
			padding-top: 5px;
			.l-panel{
				display: none;
			}
			.r-panel{
				float: none!important;
				.i{
					padding: 0 5px 0 0;
				}
			}
		}
	}
	.lst-side{
		padding-right: 10px;
		.col-md-12{
			width: 100%;
		}
		.media-body{
			display: inline;
			a{
				max-height: 60px;
				display: block;
				overflow: hidden;
			}
		}
		.media{
			.media-left{
				display: block;
				float: left;
				.media-object{
					width: 110px;
					max-width: none;
				}
			}
		}
	}
}

.col-md-3{
	.article-box{
		.media{
			.media-left{
				.media-object{
					width: 100px;
				}
			}
		}
	}
}


// 用户3种模式
.user-box{
	.lst-normal{
		padding-right: 10px;
		font-size: 0;
		.col-md-12{
			width: 33%;
			display: inline-block;
			*display: inline;
			zoom: 1;
			float: none;
			vertical-align: top;
			font-size: 14px;
		}
	}
	.lst-grid{
		font-size: 0;
		.sidehide{
			display: none;
		}
		.col-md-12{
			width: 33%;
			display: inline-block;
			*display: inline;
			zoom: 1;
			float: none;
			vertical-align: top;
		}
		.media{
			text-align: center;
		}
		.media-left{
			display: block;
			padding-right: 0;
			img{
				margin: 0 auto;
			}
		}
		.name{
			font-size: 14px;
		}
	}
	.lst-side{
		.col-md-12{
			width: 33%;
			display: inline-block;
			*display: inline;
			zoom: 1;
			vertical-align: top;
		}
		.media{
			text-align: center;
			border-bottom: none;
			img{
				margin: 0 auto;
			}
		}
		.media-left{
			display: block;
			padding-right: 0;
		}
		.sidehide{
			display: none;
		}
		.media-body{
			display: block;
			width: auto;
			.name{
				a{
					display: block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: normal;
					word-wrap: normal;
				}
			}
		}
	}
}



// 文章和图书在移动端下的样式
@media (max-width: 768px){
	.container{
		.lst-grid{
			.col-md-12{
				width: 100%;
			}
		}
		.user-box{
			.lst-normal{
				.col-md-12{
					width: 100%;
					text-align: center;
					img{
						margin: 0 auto;
					}
				}
			}
			.lst-side{
				.col-md-12{
					width: 50%;
				}
			}
		}
	}
	.article,.book-lst{
		.media-body{
			display: block;
			width: auto;
			padding-top: 5px;
		}
		.article-fd{
			.l-panel,.r-panel{
				float: none!important;
			}
			.r-panel{
				padding-top: 5px;
				.i{
					padding: 0 5px 0 0;
				}
			}
		}
	}
	.book-lst{
		.media-right{
			display: block;
			padding-left: 0;
		}
		.price-box{
			border: none;
			padding: 5px 0 0;
			margin: 0;
		}
		.book-thumbnail{
			padding-top: 10px;
			.pic{
				height: auto;
			}
		}
	}
}

// 文章详情
.article-detail-page{
	.col-md-4{
		float: left;
	}
	.col-md-8{
		float: right;
	}
}
.article-detail{
	padding: 20px;
	font-size: 16px;
	.article-tit{
		font-size: 24px;
		padding-bottom: 10px;
		border-bottom: 1px solid $borColor3;
		margin-bottom: 15px;
	}
}

// 标签
.tag-lst{
	padding: 5px 0;
	li{
		margin-left: 15px;
		float: left;
		padding: 5px 0;
		a{
			display: block;
			padding: 5px 8px;
			background-color: $green;
			color: #fff!important;
			&:hover{
				background-color: $nav-hover;
				text-decoration: none;
			}
		}
	}
}

.tag-banner{
	width: 100%;
	padding: 40% 0 0 0;
	background: #ccc;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	&:hover{
		.data {
		    background: rgba(0, 0, 0, 0.8);
		}
	}
	.data {
		background: rgba(0, 0, 0, 0.6);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100px;
		top: auto;
		 h2 {
			color: white;
			font-size: 24px;
			margin: 0;
			a{
				padding: 14px 14px 6px 14px;
				color: white;
				display: block;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}

// 图书详情页
.bookdetail-page{
	background-color: #fff;
	.bookdetail{
		padding-top: 90px;
		font-size: 14px;
	}
	.directory{
		.inner{
			max-height: 333px;
			overflow: hidden;
		}
	}
	.bookmenu{
		td{
			padding-left: 30px;
		}
		a{
			color: $green;
		}
		.read-btn{
			float: right;
			padding-right: 17px;
		}
	}
	.booklststyle{
		.form-horizontal{
			.control-label{
				text-align: left;
				width: 75px;
				padding: 7px 0 0 10px;
			}
			.form-group{
				padding-left: 20px;
				margin-bottom: 0px;
				margin-top: 10px;
			}
			.col-sm-10{
				width: auto;
			}
		}
	}
	.article-box{
		.lst-side{
			.media{
				margin-top: 0;
			}
		}
	}
	.media{
		img{
			max-width: none;
		}
	}
	.tag-lst{
		li{
			margin-left: 0;
			margin-right: 10px;
		}
	}
	.book-side{
		margin-right: 0;
		font-size: 12px;
	}
	.media{
		margin-top: 20px;
	}
	.xgwz{
		.media{
			border-bottom: 1px solid $borColor2;
			padding-bottom: 20px;
			&:last-child{
				border-bottom: none;
			}
		}
	}
	.tab{
		color: $borColor2;
		padding-top: 20px;
		.active{
			font-weight: bold;
			color: #333;	
		}
		.stp{
			padding: 0 5px;
		}
	}
	.errata-commit,#errata-form{
		padding: 20px 0 0 30px;
	}
	#errata-form{
		padding-bottom: 30px;
	}
	.remark{
		margin-left: 30px;
		border: 1px solid $green;
		margin-top: 20px;
		.txt{
			border: none;
			width: 100%;
			height: 90px;
			padding: 10px;
		}
		.remark-btn-box{
			padding: 5px;
			background-color: #fbfbfb;
		}
	}
	.disabled{
		background-color: #ccc;
	}
	.exchange{
		padding-top: 10px;
		.btn{
			font-size: 18px;
			margin-bottom: 5px;
			margin-right: 10px;
		}
	}
	.bookdetail-panel{
		margin-bottom: 20px;
		margin-top: 10px;
		.media-left{
			padding-right: 30px;
			img{
				border: 1px solid $borColor2;
				padding: 8px;
				vertical-align: top;
				width: 231px;
				height: 309px;
			}
		}
		.bookDeHd{
			border-bottom: 4px solid $borColor2;
			margin-bottom: 10px;
			padding-bottom: 10px;
			h2{
				font-size: 24px;
			}
			.author{
				padding: 10px 0 0;
				span{
					padding-right: 20px;
				}
			}
			.bor-r-g{
				border-right: 1px solid $borColor2;
			}
			.r-panel{
				margin-top: -10px;
				a{
					padding: 10px 15px;
					display: inline-block;
					*display: inline;
					zoom: 1;
					text-align: center;
					color: #999;
					&:hover{
						text-decoration: none;
						color: $green;
					}
				}
				.has{
					.glyphicon{
						color: $green;
					}
				}
				.top{
					font-size: 24px;
					padding-bottom: 5px;
					display: block;
				}
				.txt{
					display: block;
					font-size: 18px;
				}
			}
		}
		.bookDeBd{
			font-size: 14px;
			line-height: 24px;
		}
		.bookDeFd{
			background-color: #e3f5f3;
			padding: 20px 0 20px 30px;
			margin-top: 10px;
			.stp{
				display: inline-block;
				*display: inline;
				zoom: 1;
				height: 105px;
				width: 1px;
				overflow: hidden;
				background-color: #b6e5e0;
				vertical-align: middle;
				margin-left: 20px;
			}
			ul{
				display: inline-block;
				*display: inline;
				zoom: 1;
				vertical-align: middle;
				white-space: nowrap;
			}
			.btn{
				vertical-align: middle;
				font-size: 18px;
				border-radius: 0;
				margin-left: 20px;
			}
			.btn-box{
				display: inline-block;
				*display: inline;
				zoom: 1;
				vertical-align: middle;
			}
			label{
				font-size: 14px;
				font-weight: normal;
				padding: 3px 0;
			}
			.price{
				color: $green;
				padding-left: 10px;
				font-size: 18px;
			}
		}
	}
}


.g-block-2{
	margin-bottom: 30px;
	.hd{
		padding: 10px 20px 10px 30px;
		background-color: #f7f7f7;
		.tit{
			font-size: 18px;
		}
	}
	.bd{
		padding-left: 30px;
		li{
			margin-top: 10px;
		}
		a{
			color: $green;
		}
	}
	.more{
		display: block;
		width: 100%;
		text-align: center;
		background-color: #e5f6f4;
		color: $green;
		font-size: 12px;
		height: 40px;
		line-height: 40px;
		margin-top: 10px;
		border: 1px solid #99dbd4;
	}
}

.page-tit{
	font-size: 20px;
	margin: 10px 0;
	line-height: normal;
	.key{
		color: $green;
		font-weight: bold;
		font-style: normal;
	}
}

.breadcrumb{
	font-size: 0;
	background: none;
	padding: 0;
	margin-bottom: 0;
	li{
		font-size: 16px;
		a{
			color: #333;
		}
	}
}
.breadcrumb>li+li:before{
	content: ">";
	color: #333;
}

label{
	input[type=checkbox], input[type=radio],span{
		display: inline-block;
		*display: inline;
		zoom: 1;
		vertical-align: middle;
		margin: 0 5px 0 0; 
	}
}


.modal-body{
	font-size: 14px;
	line-height: 22px;
}

.modal-title{
	font-size: 18px;
	.submodalt{
		font-size: 14px;
	}
}

// 我的主页
.my-profile{
	.profile-menu{
		padding: 15px 0;
		margin-bottom: 20px;
		font-size: 14px;
		background-color: #fff;
		border-width: 1px;
		border-style: none solid;
		border-color: $borColor1;
		dl{
			margin-left: 30px;
		}
		dd{
			margin-left: 27px;
			a{
				display: block;
				padding: 5px 0;
			}
		}
		dt{
			font-weight: bold;
			margin: 15px 0 5px;
		}
		a{
			color: #333;
		}
	}
	.profile-panel{
		background-color: #fff;
		margin-bottom: 20px;
		padding: 20px 0 20px 20px;
		border-width: 1px;
		border-style: none solid solid;
		border-color: $borColor1;
		.mypic{
			width: 100px;
			height: 100px;
			max-width: none;
		}
		.edit-btn{
			padding: 0;
			display: block;
			width: 100px;
			height: 30px;
			line-height: 30px;
			margin-top: 10px;
		}
	}
	.profile-info{
		.media-body{
			.top{
				border-bottom: 1px solid $borColor3;
				font-size: 18px;
				padding-bottom: 10px; 
				.lv{
					background-color: $green;
					font-size: 16px;
					padding: 3px;
					margin-left: 5px;
					color: #fff;
					em{
						font-style: italic;
					}
				}
			}
			.mid{
				font-size: 14px;
				.row{
					margin-left: -10px;
					margin-right: -10px;
					.item{
						margin-top: 10px;
					}
				}
			}
		}
	}
	.g-block{
		.media{
			padding-top: 20px;
		}
	}
	.custom-bg{
		padding: 2px 2px 0;
		background-color: #fff;
		border-width: 1px;
		border-style: none solid;
		border-color: #e7e7e7;
		margin-bottom: -48px;
		text-align: center;
	}
	.mp-table{
		font-size: 14px;
		.f{
			padding-left: 20px;
		}
		th{
			background-color: #f2faf9;
		}
		td,th{
			white-space: nowrap;
		}
		td.book-name,th.book-name{
			white-space: normal;
		}
	}
}

.private-profile-page{
	.profile-info{
		.media-body{
			.top{
				border-bottom: none;
			}
			.mid{
				.num-panel{
					padding-right: 20px;
				}
				.num-item{
					display: inline-block;
					*display: inline;
					zoom: 1;
					border-left: 1px solid $borColor2;
					margin-top: 10px;
					a{
						display: block;
						font-size: 14px;
						color: #333;
						text-align: center;
						padding: 10px;
						&:hover{
							text-decoration: none;
						}
					}
					.num{
						display: block;
						font-family: Arial,sans-serif;
						font-size: 16px;
						padding-bottom: 10px;
					}
				}
			}
		}
	}  
}

.offsetl20{ padding-left: 20px;}
.order-panel{
	.order-item{
		padding: 1px;
		background-color: #fff;
		margin-bottom: 20px;
		font-size: 14px;
		td,th{
			padding: 0 15px 0 0;
			white-space: nowrap;
			vertical-align: top;
		}
		td.book-name{
			white-space: normal;
		}
		.del{
			text-align: center;
		}
		.bookpic{
			width: 80px;
			border: 1px solid $borColor3;
			padding: 3px;
			max-width: none;
		}
		.top{
			background-color: #f5f5f5;
			padding: 10px 20px;
			.l-panel{
				font-weight: bold;
			}
		}
		.mid{
			padding: 10px 20px;
			table{
				width: 100%;
				th,td{
					table-layout: fixed;
					padding-bottom: 5px;
				}
				.bp{
					width: 90px;
				}
			}
			.media-left{
				padding-top: 20px;
			}
			.media-right{
				.yf{
					padding-top: 5px;
				}
				.inner{
					white-space: nowrap;
				}
			}
		}
		.bottom{
			border-top: 1px solid $borColor2;
			.inner{
				padding: 10px 20px;
				line-height: 22px;
			}
			.row{
				margin-left: -10px;
				margin-right: -10px;
			}
			.bor-r{
				text-align: right;
				border-left: 1px solid $borColor2;
			}
			.fcg{
				font-weight: bold;
			}
		}
	}
	.nopay{
		.top{
			background-color: #e3f5f3
		}
		.btn-s{
			margin-left: 5px;
		}
	}
}

.fcg{
	color: $green!important;
}

.ico-dot3{
	background-position: -40px 0;
	margin-right: 5px;
}

.btn-default,.btn-default:active,.btn-default:focus{
	background-color: $green;
	color: #fff!important;
	&:hover{
		background-color: $nav-hover;
	}
}

.btn-sec{
	background-color: #fff;
	border: 1px solid #ccc;
	color: #333!important;
}

.btn{
	border-radius: 0;
}

.btn-small{
	border-radius: 0;
	padding: 3px 12px;
	font-size: 12px;
}


// 我的账户-样书
.g-block{
	.hd{
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
			border: none;
			background: none;
			font-weight: bold;
		}
		.nav-tabs>li>a:hover{
			border-bottom: 2px solid #66c8be;
		}
		.nav>li>a:focus,.nav>li>a:hover {
		    text-decoration: none;
		    background: none;
		}
		.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{
			border-bottom: 2px solid $green;
		}
		.nav-tabs{
			border-bottom: none;
			li{
				a{
					border: none;
					margin-right: 0;
					display: block;
					padding: 0 15px;
					height: 42px;
					line-height: 42px;
					font-size: 14px;
					color: #333;
				}
			}
		}
		.tips{
			font-size: 12px;
			color: #999;
		}
	}
}
.exchange-box{
	.bd{
		padding-right: 15px;
	}
	.panel-default>.panel-heading{
		padding: 0;
	}
	.panel-group{
		.panel-heading{
			a{
				display: block;
				padding: 10px 15px;
				color: #333;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	.record-info{
		.top{
			padding: 10px 15px;
		}
		.mid{
			border-top: 1px solid #e8e8e8;
		}
	}
}

.input-group-addon{
	background-color: $green;
	color: #fff;
}

.g-table{
	width: 100%;
	font-size: 14px;
	th{
		background-color: #f5f5f5;
		padding: 10px 20px;
	}
	td{
		padding: 10px 20px;
		border-bottom: 1px solid #e8e8e8;
	}
	.dhbtn{
		width: 90px;
	}
}

a.input-group-addon{
	&:hover{
		color: #fff;
		background-color: $nav-hover;
		text-decoration: none;
	}
}

.bor-box{
	border: 1px solid #e8e8e8;
	margin-bottom: 20px;
}

.preson-info-box,.remark-box{
	font-size: 14px;
	padding: 10px 20px;
	border-bottom: 1px solid #e8e8e8;
	.t{
		padding-bottom: 10px;
	}
	li{
		padding-bottom: 8px;
	}
}

.remark-box{
	.remark-txt{
		border: 1px solid #e8e8e8;
		padding: 5px;
		textarea{
			width: 100%;
			height: 50px;
			border: none;
		}
	}
}

.counter{
	font-size: 0;
	border: 1px solid #e8e8e8;
	display: inline-block;
	*display: inline;;
	zoom: 1;
	white-space: nowrap;
	.addon{
		display: inline-block;
		*display: inline;;
		zoom: 1;
		vertical-align: middle;
		width: 22px;
		height: 22px;
		line-height: 22px;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		background-color: #e8e8e8;
		color: #666;
		cursor: pointer;
	}
	.txt{
		text-align: center;
		display: inline-block;
		*display: inline;;
		zoom: 1;
		vertical-align: middle;
		width: 35px;
		height: 22px;
		line-height: 22px;
		font-size: 12px;
		border: none;
		background-color: #fff;
	}
	.disable{
		color: #c1c1c1;
		cursor: default;
	}
}

// 我的账户-积分
.score-box{
	.tit{
		height: 42px;
		line-height: 42px;
		font-weight: bold;
		padding-left: 10px;
		border-bottom: 1px solid #e8e8e8;
	}
	.user-lst{
		border-right: 1px solid #e8e8e8;
		padding-right: 0;
		.item{
			padding: 15px 10px;
			border-bottom: 1px solid #e8e8e8;
		}
		.user-lst-panel{
			max-height: 700px;
			overflow-y: auto;
			.selected{ background-color: #c4eae6}
		}
	}
	.dialog-lst{
		margin-left: -1px;
		border-left: 1px solid #e8e8e8;
		padding-left: 0;
		.tit{
			padding-left: 20px;
		}
		.sendscore-box{
			margin: 0 20px;
			padding: 20px 0;
			border-bottom: 1px dotted #e8e8e8;
		}
		.k-state-default>.k-select,.k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default{
			border-color: #e8e8e8;
		}
		.remark-panel{
			margin: 0 20px;
			.remark-txt{
				border: 1px solid #e8e8e8;
				padding: 5px;
				textarea{
					border: none;
					width: 100%;
					height: 60px;
				}
			}
		}
		.control-label{
			text-align: left;
		}
	}
	.msgSend{
		padding-left: 20px;
	}
}

.dialog-lst-box{
	border-top: 1px solid #e8e8e8;
	padding-bottom: 20px;
	padding-left: 20px;
	overflow-y: auto;
	margin-top: 10px;
	height: 500px; 
	img{
		max-width: none;
	}
	.arr{
		position: relative;
		.arr-inner,.arr-out{
			position: absolute;
			top: 10px;
			border-width: 10px;
		}
	}
	.media-left{
		padding-right: 15px;
	}
	.media-right{
		padding-left: 15px;
	}
	.plcr{
		.con-panel{
			border: 1px solid #e8e8e8;
			background-color: #f9f9f9;
		}
		.arr-inner{
			right: -17px;
			border-style: dashed solid dashed none;
			border-color: transparent #f9f9f9 transparent transparent;
		}
		.arr-out{
			right: -15px;
			border-style: dashed solid dashed none;
			border-color: transparent #e8e8e8 transparent transparent;
		}
	}
	.prcl{
		.con-panel{
			border: 1px solid #b8d6d3;
			background-color: #d9f1ef;
			text-align: left;
		}
		.arr-inner{
			left: -17px;
			border-style: dashed none dashed solid;
			border-color: transparent transparent transparent #d9f1ef;
		}
		.arr-out{
			left: -15px;
			border-style: dashed none dashed solid;
			border-color: transparent transparent transparent #b8d6d3;
		}
		.media-body{
			text-align: right;
		}
	}
	.con-panel{
		display: inline-block;
		*display: inline;
		zoom: 1;
		padding: 10px;
		border-radius: 3px;
		width: 300px;
		line-height: 24px;
	}
}
.mail-lst{
	.dialog-lst-box{
		border-top: none;
		margin-top: 0;
	}
}

.comment-list{
	.dl-operation-box{
		font-size: 12px;
		padding: 5px 0;
		visibility: hidden;
		*visibility: visible;
		a{
			padding-right: 10px;
		}
	}
	.item{
		border-bottom: 1px dotted $borColor2;
		padding: 10px 0;
		&:last-child{
			border-bottom: none;
		}
		.reply-list{
			padding-left: 60px;
		}
	}
	.media{
		margin-top: 0;
	}
	.media-body{
		&:hover>.dl-operation-box{
			visibility: visible;
		}
	}
	.simditor{
		.simditor-toolbar{
			width: auto!important;
		}
	}
	.vote{
		margin-top: 5px;
		background-color: #f5f5f3;
		color: #35993f;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		padding: 5px 0;
		cursor: pointer;
	}
}



// 新提醒
.notice-lst{
	.media{
		font-size: 14px;
		line-height: 22px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px dotted $borColor2;
		.media-left{
			img{
				max-width: none;
			}
		}
	}
	a{
		color: $green;
		display: block;
		&:hover{
			text-decoration: none;
			color: #666;
		}
	}
}

.time{
	color: #999;
}

// 地址管理
.addr-lst{
	.t{
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 20px;
	}
	.form-group{
		.checkbox{
			margin-top: 4px
		}
	}
	a{ white-space: nowrap;}
}

//订阅
.rssbook{
	.author{
		font-size: 12px;
		color: #999;
		padding-top: 3px;
		text-align: left;
	}
	.bk-info{
		height: 100px;
		overflow: hidden;
	}
	.cancel-btn{
		background-color: $green;
		color: #fff;
		font-size: 14px;
		padding: 6px 12px;
	}
	.lst-grid{
		.book-name{
			text-align: left;
		}
	}
	.cancel-btn-panel{
		padding-top: 10px;
		text-align: left;
	}
	.lst-grid{
		.media-left{
			img{
				margin: 0;
				max-width: 150px;
			}
			.book-pic{
				height: 230px;
			}
		}
	}
} 


// 技术圈
.tech-circle-page{
	.sidebar{
		padding: 8px 0 20px;
		.fmenu{
			a{
				padding-left: 30px;
				font-weight: bold;
			}
		}
		.smenu{
			a{
				padding-left: 42px;
			}
		}
		.tmenu{
			a{
				padding-left: 56px;
			}
		}
		a{
			display: block;
			height: 32px;
			line-height: 32px;
			font-size: 14px;
			color: #333;
			&:hover{
				background-color: #b2e4de;
			}
		}
		.active{
			a{
				background-color: #00a493;
				color: #fff;
			}
		}
	}
	.cate-box{
		padding: 0 35px;
		.col-md-12,.col-md-6{
			padding-left: 15px;
			padding-right: 15px;
		}
		.category-item {
  width: 100%;
  padding: 40% 0 0 0;
  height: 0;
  margin: 0 0 20px 0;
  background: #ccc;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .category-item .url {
    right: 0;
    top: 0;
    margin-top: -40%;
    text-align: right;
    bottom: auto;
    left: auto;
    padding: 10px 14px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
    .category-item .url a {
      color: white; }
  .category-item .data {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
padding-bottom: 20px;}
  .category-item:hover .data {
    background: rgba(0, 0, 0, 0.8); }
  .category-item h2 {
    color: white;
    font-size: 24px;
    margin: 0; }
    .category-item h2 a {
      padding: 14px 14px 6px 14px;
      color: white;
      display: block; }
      .category-item h2 a:hover {
        color: #d5d4cc; }
      .category-item h2 a small, .category-item h2 a small > b {
        font-weight: normal;
        color: #d5d4cc; }
  .category-item p {
    color: #aaa;
    padding: 0 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .category-item p b {
      font-weight: normal;
      color: #939189; }
    .category-item p > a {
      color: #ccc; }
      .category-item p > a:hover {
        color: #d5d4cc; }



        .col-md-6 > .category-item {
    padding: 0;
    height: auto; }
    .col-md-6 > .category-item > a {
      display: block;
      padding: 48% 0 0 0;
      width: 100%; }
      .col-md-6 > .category-item > a > h2 {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: rgba(0, 0, 0, 0.6);
        font-size: 18px;
        color: white;
        padding: 10px 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .col-md-6 > .category-item > a > h2 > small {
          display: block;
          font-size: 14px;
          line-height: 20px; }
          .col-md-6 > .category-item > a > h2 > small, .col-md-6 > .category-item > a > h2 > small b {
            font-weight: normal; }
      .col-md-6 > .category-item > a:hover > h2 {
        background: #000;
        color: #d5d4cc; }
	}
	.promotionimg{
		padding: 10px 20px 0;
		a{
			height: auto;
		}
	}
}





// 写作页面
.write-page{
	.bd{
		padding: 20px 0 0;
	}
	.col-md-12{
		padding: 0 30px;
	}
	.form-group{
		.checkbox input[type=checkbox],
		.checkbox-inline input[type=checkbox],
		.radio input[type=radio],
		.radio-inline input[type=radio]{
			position: static;
			margin: 0;
		}
		.icons{
			display: none;
		}
	}
	#categoryList{
		padding-top: 10px;
		.t{
			padding-bottom: 5px;
		}
		li{
			float: left;
			padding-left: 20px;
			padding-bottom: 5px;
		}
	}
}

.btn-s{
	font-size: 12px;
	padding: 3px 6px;
}

.bank-list{
	font-size: 0;
	padding-right: 10px;
	padding-bottom: 20px;
	li{
		display: inline-block;
		*display: inline;
		zoom: 1;
		width: 25%;
		padding: 10px 0 0 10px;
		text-align: center;
		font-size: 14px;
		a{
			display: block;
			padding: 3px 0;
			border: 1px solid #ddd;
		}
	}
}

// 订单下单
.g-block{
	.order-lst-panel{
		padding-left: 0;
	}
}
.order-lst-panel{
	.order-panel{
		padding-left: 20px;
		padding-right: 20px;
		.order-item{
			padding: 0;
			.mid{
				padding: 0;
			}
		}
	}
	.tit{
		font-size: 14px;
		font-weight: bold;
		padding: 10px 0 10px 20px;
	}
	.addr{
		padding-left: 20px;
		font-size: 14px;
		padding-bottom: 20px;
		table{
			width: 100%;
			td{
				padding: 3px 5px 3px 0;
			}
		}
	}
	.yhm{
		padding-left: 25px;
	}
	.total{
		font-size: 14px;
		padding-right: 20px;
		padding-bottom: 20px;
	}
	.checkbox{
		input{
			vertical-align: baseline;
			margin-top: 3px;
			margin-top: 1px\9;
		}
	}
	.pay-box{
		.btn{
			margin: 0 10px;
		}
	}
}

.bor-t{
	border-top: 1px solid $borColor2;
}
.nopl0{
	padding-left: 0!important;
}
.pb10{
	padding-bottom: 10px;
}

// 我的稿费
.myincome{
	width: 100%;
	.tit{
		background-color: #f2faf9;
		border-top: 1px solid $borColor2;
		border-bottom: 1px solid $borColor2;
	}
	.book-info{
		width: 30%;
		margin-right: -1px;
		border-right: 1px solid $borColor2;
		.isbn{
			width: 40%;
		}
		.bn{
			width: 60%;
		}
	}
	.income-info{
		width: 70%;
		margin-left: -1px;
		border-left: 1px solid $borColor2;
		.last{
			border-right: 1px solid $borColor2;
		}
	}
	.sub-tit{
		.osp10{
			padding: 10px 10px 0;
		}
	}
}

.bor-t-dot{
	.osp10{
		border-top: 1px dotted $borColor2;
	}
}

.wp25{
	width: 25%;
}
.wp33{
	width: 33%;
}
.wp20{
	width: 20%;
}
.wp29{
	width: 29%;
}
.wp51{
	width: 51%;
}

.osp10{
	padding: 10px;
	display: block;	
}

.nobg{
	background: none!important;
}

.input-group{
	.nobg{
		color: #333;
		border: none;
	}
}
.pr20{
	padding-right: 20px;
}

// 覆盖时间控件
.table-condensed thead tr:last-child th{
	background-color: $green;
}
.daterangepicker td.active, .daterangepicker td.active:hover{
	background-color: $green;
	border-color: $green;
}
.disi{
	display: inline;
}
.strong{
	font-weight: bold;
}

.book-table{
	font-size: 14px;
	th,td{
		white-space: nowrap;
	}
	.book-name{
		white-space: normal;
	}
}

.edit-profile{
	padding: 20px 0 30px;
	.form-group{
		.checkbox input[type=checkbox],
		.checkbox-inline input[type=checkbox],
		.radio input[type=radio],
		.radio-inline input[type=radio]{
			position: static;
			margin: 0;
		}
		.icons{
			display: none;
		}
	}
	.form-horizontal{
		.form-group{
			margin-right: 15px;
			margin-left: -5px;
		}
	}
	h4{
		margin-bottom: 20px; font-size: 20px;
	}
}

// 修改密码
.modify-pw-box{
	.cur-acc{
		padding: 15px 0 15px 50px;
		border-bottom: 1px dotted $borColor2;
		font-size: 16px;
		margin-bottom: 15px;
	}
	.other-acc-panel{
		padding-left: 50px;
	}
	.other-acc{
		font-size: 14px;
		padding-top: 10px;
		li{
			padding: 5px;
		}
		.accbtn{
			display: inline-block;
			*display: inline;
			zoom: 1;
			vertical-align: middle;
			width: 325px;
			height: 45px;
			line-height: 45px;
			font-size: 0;
			text-align: center;
			border-radius: 3px;
			color: #fff;
			span{
				display: inline-block;
				*display: inline;
				zoom: 1;
				vertical-align: middle;
				font-size: 14px;
			}
			.i{
				background: url(../images/accbtn.png) no-repeat;
				display: inline-block;
				*display: inline;
				zoom: 1;
				vertical-align: middle;
				width: 25px;
				height: 25px;
				margin-right: 5px;
			}
		}
		.qq{
			background-color: #4e9ac8;
			.i{
				background-position: 0 0;
			}
		}
		.wb{
			background-color: #d42c4c;
			.i{
				background-position: -25px 0;
			}
		}
		.ms{
			background-color: #7cbb00;
			.i{
				background-position: -50px 0;
			}
		}
	}
}

// 作者展示
.author-show-page{
	.banner{
		img{
			width: 100%;
		}
	}
	.user-box{
		padding-bottom: 20px;
		.lst-grid{
			.col-md-12{
				width: 20%;
			}
			.media{
				padding-top: 20px;
			}
		}
	}
	.name{
		padding-top: 5px;
		a{
			color: #333;
		}
	}
	.filter{
		padding: 15px 0 0;
		border-bottom: 1px dotted $borColor2;
		.control-label{
			width: 110px;
		}
	}
}

// 投稿
.contribute-page{
	.g-txt-panel{
		font-size: 14px;
		line-height: 24px;
	}
	.form-horizontal{
		padding-top: 20px;
	}
	.checkbox{
		input{
			margin-top: 3px;
		}
	}
	.upload-demo{
		display: none;
	}
	.form-control-static{
		.tips{
			background-color: #f2f2f2;
			color: #999;
			padding: 5px 10px;
			display: inline; 
			zoom: 1;
			border: 1px solid $borColor2;
		}
	}
}
.line-dot{
	height: 0;
	width: 100%;
	border-bottom: 1px solid $borColor2;
	margin-bottom: 15px;
}
.mr20{
	margin-right: 20px;
}

// 重置markdown预览和文章详情的样式

.markdown-body{
	pre{
		padding: 5px 10px;
	}
	em{
		font-style: italic;
	}
	h1{
		font-size: 22px;
		margin: 10px 0;
	}
	h2{
		font-size: 20px;
		margin: 8px 0;
	}
	h1,h2,h3,h4,h5,h6{
		font-weight: bolder;
	}
}
.typo{
	.markdown-body{
		border: none;
	}
}

// @media (min-width: 1200px){
// 	.article-box{
// 		.article-name{
// 			font-size: 18px;
// 		}
// 		.media{
// 			font-size: 14px;
// 			.media-left{
// 				.media-object{
// 					width: 240px;
// 					max-width: none;
// 				}
// 			}
// 			.media-body{
// 				line-height: 28px;
// 			}
// 		}
// 		.lst-side{
// 			.hot,.recom{
// 				font-size: 14px;
// 			}
// 			.article-name{
// 				font-size: 16px;
// 			}
// 			.media-body{
// 				line-height: 24px;
// 				a{
// 					max-height: 70px;
// 				}
// 			}
// 		}
// 	}
// }


@media (max-width: 1200px){
	.bookdetail-page .bookdetail-panel .bookDeFd .btn{
		margin-left: 10px 
	}
	
}

@media (max-width: 991px){
	.bookdetail-page .bookdetail-panel .bookDeFd .btn-box{
		padding-top: 10px;
	}
	.bookdetail-page .bookdetail-panel .bookDeFd .btn{
		margin-left: 0;
		margin-right: 10px; 
	}
	.bookdetail-page .bookdetail-panel .bookDeFd .stp{
		display: none;
	}
	.private-profile-page .profile-info .media-body .mid .pull-right{
		float: none!important;
	}
}

@media (max-width: 768px){
	body{
		overflow-x: hidden; 
	}
	.bookdetail-panel .media-left{
		display: block;
	}
	.bookdetail-panel .media-left,.bookdetail-panel .media-body .bookDeHd{
		text-align: center;
	}
	.bookdetail-panel .media-body{
		display: block;
		width: auto;
		.l-panel,.r-panel{
			float: none!important;
		}
	}
	.bookdetail-page .bookdetail-panel .bookDeFd{
		padding: 10px 0 10px 10px;
	}
	.bookdetail-page .bookdetail-panel .bookDeFd .btn-box{
		padding-top: 10px;
		display: block;
	}
	.bookdetail-page .bookdetail-panel .bookDeFd .btn{
		margin-left: 0;
		margin-right: 5px; 
		margin-bottom: 10px;
	}
	.bookdetail-page .bookdetail-panel .bookDeFd .stp{
		display: block;
		height: 0;
	}
	.g-block-2 .hd{
		padding-left: 10px;
	}
	.g-block-2 .bd{
		padding-left: 10px;
	}
	.bookdetail-page .remark{
		margin-left: 10px;
	}
	.media-left{
		display: block;
	}
	.my-profile .profile-info .media-body .top{
		padding-top: 10px;
	}
	.modify-pw-box{
		.modify-pw-panel{
			padding: 0 15px 0 10px;
		}
		.cur-acc{
			padding: 15px 0;
		}
		.other-acc-panel{
			padding-left: 0px;
		}
	}
	.author-show-page{
		.user-box{
			.lst-grid .col-md-12{
				width: 50%;
			}
		}
	}
	.article-detail-page{
		.col-md-4{
			float: none;
		}
		.col-md-8{
			float: none;
		}
	}
}
