[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-home {
	width: 32px;
	height: 32px;
}
.icon-pencil {
	width: 32px;
	height: 32px;
}
.icon-spinner {
	width: 32px;
	height: 32px;
}
