@charset "utf-8";
@import "_variable";
// variable
$body_bg:#fafafa;
$global_FontSubColor:#999;
// variable END
@import "/Users/sunrise/Sites/global/css/_m_reset";
@import "/Users/sunrise/Sites/global/css/_public";
@import "_comm";

.wrapper{
	width: 100%;
	header{
		background: $header_bg;
	}
	.logo{
		text-align: center;
		.welcome{ font-size: 16px;}
		.userpic{ background: url(../../images/zex.jpeg) no-repeat; width: 50px; height: 50px; border-radius: 50%; border:2px solid #FFFFFF; box-shadow: 1px 1px 1px rgba(0,0,0,.2); background-size: 50px 50px; margin: 0 auto 10px;}
	}
	nav{
		@include father;
		a{
			@include child(1);
			display: block;
			text-align: center;
			border-bottom: 3px solid $nav-1-color;
			&:first-child{
				border-bottom-color: $nav-2-color;
			}
			&:last-child{
				border-bottom-color: $nav-3-color;
			}
			&.on{
				background: $nav-1-color;
				color: #FFFFFF;
			}
			&:first-child.on{
				background: $nav-2-color;
				color: #FFFFFF;
			}
			&:last-child.on{
				background: $nav-3-color;
				color: #FFFFFF;
			}
		}
	}

	.g_block{
		padding: 10px 0;
		.article{
			padding-bottom: 15px;
		}
		.t{
			border-left:3px solid $nav-2-color;
			padding-left: 15px;
			height:20px;
			line-height: 20px;
			overflow: hidden;
			margin-bottom: 3px;
			h6{
				font-size: 18px;
				font-weight: 600;
			}
		}
		.translate{
			border-left-color:$nav-1-color;
		}
		.summary{
			border-left-color:$nav-3-color;
		}
		.article_summary{
			padding-left: 19px;
			color: $global_FontSubColor;
			line-height: 1.4;
		}
	}
	.page-content{
		padding: 15px;
		font-size:16px;
		h2{
			font-size:24px;
			font-weight: bold;
			-webkit-box-flex: 1;
		}
		h3{ padding-bottom: 0}
		h4{
			padding:10px 0 0;
		}
		pre{
			margin-bottom:5px;
		}
		.hd{
			display: -webkit-box;
		}
		p{ padding: 10px 0;}
		.time{
			color: $global_FontSubColor;
			font-size:12px;
			margin-bottom:5px;
		}
	}
}