@charset "utf-8";
@import "_variable";
@import "/Users/sunrise/Sites/global/css/_reset";
@import "/Users/sunrise/Sites/global/css/_public";


.wrapper{
	max-width: 960px;
	min-width: 767px;
	margin: 0 auto;
	.sidebar{
		
	}
}