@charset "utf-8";
$mobile-switch:true;//是否为移动端，默认关闭
$pc-switch:false;//是否为移动端，默认开启

@import "../../../../../global/css/zeus/uncompile/_config";

@import "../../../../../global/css/zeus/uncompile/_reset";

html,body,.swiper-container{
	width: 100%;
	height: 100%;
}

.swiper-txt{
	height: 100%;
}

.section01{ background-color: #4390ee}
.section02{ background-color: #ca4040}
.section03{ background-color: #ff8604}

.section02-01{ background-color: #973e76}
.section02-02{ background-color: #49a430}