.ico{
	@extend .dis_ib;
	width: 18px;
	height:18px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.ico-time{
	background-image: url(../images/time-z.png);
}

.ico-comment{
	background-image: url(../images/comment-z.png);
}

.ico-ask{
	background-image: url(../images/ask.png);
}

.ico-place{
	background-image: url(../images/place.png);
}

.ico-gwb{
	background-image: url(../images/gwb.png);
}

.ico-comment-b{
	background-image: url(../images/comment-b.png);
	height: 16px;
}

.ico-ok-g{
	background-image: url(../images/ok-g-s.png);
	margin-right: 5px;
}

.ico-add{
	background-image: url(../images/add.png);
	height: 16px;
}

.ico-more{
	background-image: url(../images/more.png);
	width: 20px;
	height: 20px;
	margin-left: 10px;
}













